*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TOPO */

.topo{
    background-image: linear-gradient(white, transparent 50%),url("imagens/img_topo.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
    height: 1000px;
    padding:1px;
}
.logo{
    text-indent: -100000px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.logo img{
    filter: drop-shadow(2px 2px 2px black);
}
.icones{
    height: 100px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    margin-top: 30px;
}

.icones img{
    width: 50px;
    height: 50px;
}

/* MENU */

.menu{
    background-color: #A54C36;
    min-width: 100%;
    height: 60px;
}

menu{
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
    font-family: "Risque", serif;
}

menu > li{
    font-size: 30px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* CÁRDAPIO */

.cardapio{
    font-family: "Risque", serif;
    width:100%;
    height: 500px;
}

.cardapio > h2{
    background-color: #D1A373;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    height: 90px;
    padding: 20px;
}

.opcoes{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    max-width: 1280px;
    margin: 0 auto;
    gap: 100px;
}

.opcoes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.opcoes article img{
    border: 10px solid #DCBFA0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.opcoes h3{
    font-weight: normal;
    color: #9F7B55;
}

/* HISTÓRIA */

.historia{
    min-width: 100%;
    height: 540px;
    font-family: "Risque", serif;
    font-weight: normal;
}

.historia > h2{
    background-color: #D1A373;
    height: 90px;
    padding: 20px;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

.escrita{
    background-color: #D48470;
    color: white;
    height: 450px;
    text-align: center;
    padding: 20px 120px;
    font-size: 20px;
}

.escrita > p{
    padding-bottom: 40px;
}

.cafeteria{
    display: flex;
    justify-content: space-around;
}

.cafeteria > img{
    width: 300px;
    height: 150px;
    border-radius: 30px;
}

/* PEDIDOS */

.pedido{
    background-color: #D46448;
    font-family: "Risque", serif;
    min-width: 100vw;
    height: 700px;

}

.pedido > h2{
    background-color: #D1A373;
    height: 90px;
    padding: 20px;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

.pedir{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.pedir h3{
    color: white;
    font-weight: lighter;
    padding: 10px;
    font-size: 20px;
}

.pedir section h3{
    text-align: center;
}

.pedir section img{
    width: 70px;
    height: 70px;
}

.area{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inf{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 20px 10px;
}

.inf a{
    color: white;
}

#linha{
    border-left: 3px solid #A54C36;
    padding-left: 90px; 
}

/* RODAPÉ */

.rodape{
    background-color: #A54C36;
    min-width: 100vw;
    height: 320px;
    display: flex;
    justify-content: space-between;
}

.esquerda img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.rodape h4{
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 140px;
}

.menuf{
    background-color: #D48470;
    width: 600px;
    height: 50px;
    margin: auto 10px;
}

.final{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    font-family: "Risque", serif;
}

.final > li{
    font-size: 25px;
    list-style: none;
}

/* RESPONSIVIDADE */

    /* DESKTOP */

    @media(width < 1140px){
        /* CÁRDAPIO */

        .opcoes{
            font-size: 23px;
            gap: 30px;
        }

        /* HISTÓRIA */

        .escrita{
            padding: 10px 120px;
        }

        .cafeteria > img{
            width: 220px;
            height: 120px;
        }
    }

    /* TABLET - Tá ótimo */

    /* SMARTPHONE - Tá ótimo */
